body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-color: black;
}

.hg-button > span{
  background-color: white;
  color: black;
  font-weight: bold;
}

.hg-theme-default{
  background-color: transparent !important;
  border-radius: none !important;
}